<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching"/>
  </configSections>
  
  <appSettings>
    <add key="rabbitMQServerName" value="rabbitMQ177"/>
    <add key="UpdateArticleJobName" value="Article.Update"></add>
  </appSettings>
  
  
  
  <RedisSection>
    <RedisEndpoints>
      <add name="redis-11319" endpoints="172.22.1.172:11319"/>
    </RedisEndpoints>
  </RedisSection>
  <CachingSection>
    <CachingServers>
      <add name="Article" redis="redis-11319" database="0" timeExpiredMs="2000000000"/>
      <add name="ArticleShortInfo" redis="redis-11319" database="1" timeExpiredMs="2000000000"/>
    </CachingServers>
  </CachingSection>


  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
      <!--<add serverName="rabbitMQLogCrawler" username="admin" password="123456a@" hostName="172.22.30.31" port="5672" virtualHost="JobServer" />
      <add serverName="rabbitMQLogProduct" username="admin" password="123456a@" hostName="172.22.30.31" port="5672" virtualHost="JobServer" />-->
    </RabbitMQEndpoints>
  </RabbitMQSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
