<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis"/>
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ"/>
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching"/>
  </configSections>
  <appSettings>

  </appSettings>
  <RedisSection>
    <RedisEndpoints>
      <add name="redisPropertiesProduct" endpoints="172.22.1.175:11314"/>
    </RedisEndpoints>
  </RedisSection>

  <CachingSection>
    <CachingServers>
      <add name="redisPropertiesProduct" redis="redisPropertiesProduct" database="1" timeExpiredMs="720000000"/>
    </CachingServers>
  </CachingSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>