

<html>
<head>
    <title>Config document</title>
</head>

<body>

    <h1>Thông tin công ty</h1>

    <div>
        <h1>Crawler</h1>
        <ul>
            <li>
                <h2>Config crawler</h2>
            </li>
            <li>
                <h2>Báo cáo crawler công ty</h2>
            </li>
            <li><h2>Báo cáo crawler sản phẩm</h2></li>
        </ul>

    </div>


    <h1>Datafeed</h1>

    <div>
        <h1>Quản lí sản phẩm</h1>
        <ul>
            <li>
                <h2>Xóa cache tay</h2>
            </li>
        </ul>
    </div>

</body>

</html>