<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching" />
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
  </configSections>
  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
    </RabbitMQEndpoints>
  </RabbitMQSection>
  <RedisSection>
    <RedisEndpoints>
      <add name="redis11311" endpoints="172.22.1.175:11311" />
      <add name="redis11312" endpoints="172.22.1.175:11312" />
      <add name="redis11313" endpoints="172.22.1.175:11313" />
    </RedisEndpoints>
  </RedisSection>
  <CachingSection>
    <CachingServers>
      <add name="ProductIdentity" redis="redis11311" database="0" timeExpiredMs="840000000" />
      <add name="RootProductMapping" redis="redis11311" database="1" timeExpiredMs="36000000" />
      <add name="WebRootProduct" redis="redis11312" database="0" timeExpiredMs="840000000" />
      <add name="WebMerchantProduct" redis="redis11313" database="0" timeExpiredMs="840000000" />
      <!-- 24hours + 1000 s -->
    </CachingServers>
  </CachingSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="rabbitMQServerName" value="rabbitMQ177" />
    <add key="updateAllProductOfMerchantToRedisJobName" value="UpdateProduct.InsertAllProductsOfMerchantToRedis" />
    <add key="updateAllProductOfMerchantWorkerCount" value="2" />
    <add key="updateProductToRedisJobName" value="UpdateProduct.InsertAllProductsOfMerchantToRedis" />
    <add key="updateProductWorkerCount" value="4" />
    <add key="searchEnginesServiceUrl" value="http://172.22.1.110:8080/" />
  </appSettings>
  <connectionStrings>    
    <add name="productConnectionString" connectionString="Data Source=172.22.1.82;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu" providerName="" />
    <add name="userConnecionString" connectionString="Data Source=172.22.1.82;Initial Catalog=QT_User;Persist Security Info=True;User ID=wss_user;Password=HzlRt4$$axzG-*UlpuL2gYDu" providerName="" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>