<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SolrSection" type="Websosanh.Core.Drivers.Solr.Configuration.SolrSection, Websosanh.Core.Drivers.Solr" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  
  <SolrSection>
    <SolrNodes>
      <add name="solrRaovatKeyWord" url="http://183.91.14.85:8983/solr/keywords" documentType="QT.Entities.RaoVat.KeywordSaleNew, QT.Entities" autoPhraseFileDir="" />
      <add name="solrRaoVatProduct" url="http://183.91.14.85:8983/solr/products" documentType="QT.Entities.Model.SaleNews.ProductSaleNew, QT.Entities" autoPhraseFileDir="" />
    </SolrNodes>
  </SolrSection>
  
  <appSettings>
    <add key="TiGiaUsd" value="22500" />
    
    <!--Log4Net-->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />

    <!--RabbitMQ-->
    <add key="RabbitMQ_Host" value="192.168.100.135" />
    <add key="RabbitMQ_Port" value="5672" />
    <add key="RabbitMQ_User" value="manhdx" />
    <add key="RabbitMQ_Pass" value="123456a@" />

    <!--RedisDb-->
    <add key="RedisDB_Host" value="192.168.100.211" />
    <add key="RedisDB_Port" value="11312" />

    <!--Connection-->
    <add key="Crawler_manhdxConnectionString" value="Data Source=192.168.100.183;Initial Catalog=SaleNews;Integrated Security=False;User=sa;Password=123" />

    <!--NodeID-->
    <add key="NodeID" value="Node01" />

    <add key="SecondWaitToConnect" value="10" />
    <add key="MinHourCrawlNew" value="3" />  
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.5.6.0" newVersion="3.5.6.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
