<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching" />
  </configSections>
  <!--LOG4NET CONFIGURATION-->
  <appSettings>
    <add key="searchEnginesServiceUrl" value="http://172.22.1.99:8080/" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="ProductConnectionString" connectionString="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu" providerName="" />
    <add name="UserConnectionString" connectionString="Data Source=42.112.28.93;Initial Catalog=QT_User;Persist Security Info=True;User ID=wss_user;Password=HzlRt4$$axzG-*UlpuL2gYDu" providerName="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <RedisSection>
    <RedisEndpoints>
      <add name="redis11311" endpoints="172.22.1.175:11311" />
      <add name="redis11312" endpoints="172.22.1.175:11312" />
      <add name="redis11313" endpoints="172.22.1.175:11313" />
      <add name="redis11314" endpoints="172.22.1.175:11314" />
      <add name="redis11315" endpoints="172.22.1.175:11315" />
      <add name="redis11316" endpoints="172.22.1.175:11316" />
      <add name="redisProductCategory" endpoints="172.22.1.175:11317" />
      <add name="redisProductNameHashMapping" endpoints="172.22.1.175:11318" />
      <add name="redisPriceLog" endpoints="172.22.1.175:11319" />
    </RedisEndpoints>
  </RedisSection>
  <CachingSection>
    <CachingServers>
      <add name="ProductIdentity" redis="redis11311" database="0" timeExpiredMs="840000000" />
      <add name="RootProductMapping" redis="redis11311" database="1" timeExpiredMs="36000000" />
      <add name="WebRootProduct" redis="redis11312" database="0" timeExpiredMs="840000000" />
      <add name="WebMerchantProduct" redis="redis11313" database="1" timeExpiredMs="840000000" />
      <add name="Merchant" redis="redis11314" database="0" timeExpiredMs="720000000" />
      <add name="MerchantBranch" redis="redis11315" database="0" timeExpiredMs="720000000" />
      <add name="MerchantRegion" redis="redis11315" database="1" timeExpiredMs="720000000" />
      <add name="ProductProperty" redis="redis11316" database="0" timeExpiredMs="720000000" />
      <add name="ProductFilterProperty" redis="redis11316" database="1" timeExpiredMs="720000000" />
    </CachingServers>
  </CachingSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
