<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ"/>
  </configSections>
  <connectionStrings>
    <add name="WSS.UpdateDataFeedProducer.Properties.Settings.QT_2ConnectionString"
      connectionString="Data Source=42.112.28.93;Initial Catalog=QT_2;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
    </RabbitMQEndpoints>
  </RabbitMQSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;connection timeout=200"/>
    <!--<add key="ConnectionString" value="Data Source=172.22.1.82;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;connection timeout=200"/>-->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="rabbitMQServerName" value="rabbitMQ177"/>
    <add key="updateDatafeedGroupName" value="UpdateProductBatch"/>
    <add key="updateDatafeedJobName" value="updateDatafeed"/>
    <add key="updateDatafeedJobExpirationMS" value="3500000"/>
  </appSettings>
</configuration>
