<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SolrSection" type="Websosanh.Core.Drivers.Solr.Configuration.SolrSection, Websosanh.Core.Drivers.Solr" />
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="ConnectionIndividual" value="Data Source=172.22.1.83;Initial Catalog=IndividualCategoryWebsites;Persist Security Info=True;User ID=individualcategorywebsites;Password=PTpqIuzsJ0qwru4wwlvK;connection timeout=200"/>
    <add key="ConnectionProduct" value="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;connection timeout=200"/>
  </appSettings>
  <SolrSection>
    <SolrNodes>
      <add name="solrProducts" url="http://172.22.1.99:8983/solr/products2" documentType="WSS.IndividualCategoryWebsites.SolrProduct.SolrProductItem" autoPhraseFileDir="" />
      <add name="solrRootProducts" url="http://172.22.1.191:8983/solr/products" documentType="WSS.IndividualCategoryWebsites.SolrRootProduct.SolrRootProductClient" autoPhraseFileDir="" />
    </SolrNodes>
  </SolrSection>
  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
    </RabbitMQEndpoints>
  </RabbitMQSection>
  <RedisSection>
    <RedisEndpoints>
      <add name="redisBlackListProduct" endpoints="172.22.1.201:6379,password=sosanh123" />
    </RedisEndpoints>
  </RedisSection>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
