<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SolrSection" type="Websosanh.Core.Drivers.Solr.Configuration.SolrSection, Websosanh.Core.Drivers.Solr" />
  </configSections>
  <SolrSection>
    <SolrNodes>
      <add name="solrProducts" url="http://172.22.1.99:8983/solr/products2" documentType="Websosanh.Core.Product.BO.SolrProductItem, Websosanh.Core.Product" autoPhraseFileDir="" />
    </SolrNodes>
  </SolrSection>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
