<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kafka" version="1.0.5814.23193" />
  <package id="NUnit.ConsoleRunner" version="3.2.1" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.2.1" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.2.1" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.2.1" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.2.1" />
  <package id="NUnit.Runners" version="3.2.1" />
  <package id="protobuf-net-ycba" version="1.0.0" />
</packages>