<?xml version="1.0" encoding="utf-8"?>
<configuration>

 
  
    <configSections>
      <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
      <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
    </configSections>

  
    
  
  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
    </RabbitMQEndpoints>
  </RabbitMQSection>

  <RedisSection>
    <RedisEndpoints>
      <add name="redis6379" endpoints="192.168.100.175:11319" />
      <add name="redisCacheCrawlerProduct" endpoints="192.168.100.211:11312" />
      <add name="redisPriceLog" endpoints="172.22.1.175:11319" />
    </RedisEndpoints>
  </RedisSection>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>

    <add key="Exchange_CrawlerProduct" value="SaveHtml" />
    <add key="RoutingKey_CrawlerProductReload" value="SaveHtml" />
    <add key="SqlConnectionToDb" value="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;connection timeout=200" />


    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="ConnectionString" value="Data Source=183.91.14.82;Initial Catalog=QT_2;Persist Security Info=True;User ID=qt_crawler;Password=11qsQEF4sJx@l9@ryJt9MT;connection timeout=5000" />
    <add key="LogConnectionString" value="Data Source=172.22.30.86,1455;Initial Catalog=QT_2;Persist Security Info=True;User ID=qt_vn;Password=@F4sJ=l9/ryJt9MT;connection timeout=500" />
    <add key="rabbitMQServerName" value="rabbitMQ177" />    
    <add key="updateDatafeedJobName" value="updateDatafeed" />
    <add key="updateProductGroupName" value="UpdateProductBatch" />
    <add key="updateProductJobName" value="updateDatafeed" />
    <add key="updateProductJobExpirationMS" value="3500000" />
    <add key="workerCount" value="4" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
