<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis"/>
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ"/>
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching"/>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;connection timeout=200"/>
    <add key ="ConnectionString178" value="Data Source=192.168.100.178;Initial Catalog=CrlProductPropertiesWss;Persist Security Info=True;User ID=sa;Password=123456a@;connection timeout=200"/>

    <add key="MongoDbProductProperty" value="mongodb://192.168.100.34:27017" />
    <!--Rabbit-->
    <add key="rabbitMQServerName" value="rabbitMQ177" />
    <add key="updateProductGroupName" value="UpdateProductBatch" />
    <add key="updateProductToWebJobName" value="UpdateProduct.Merchant" />
    <add key="updateProductToWebJobExpirationMS" value="3500000" />

    <add key="redisProductMap" value="redis6379" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="conUser" value="Data Source=42.112.28.93;Initial Catalog=QT_User;Persist Security Info=True;User ID=wss_user;Password=HzlRt4$$axzG-*UlpuL2gYDu" />

    
    
  </appSettings>

  <RedisSection>
    <RedisEndpoints>
      <add name="redisQueueFindNew" endpoints="172.22.1.75:6379"/>
      <add name="redis11313" endpoints="172.22.1.175:11313"/>
      <add name="redis6379" endpoints="192.168.100.175:11319"/>
      <add name="redisErrorDownloadImageProduct" endpoints="192.168.100.185:11311"/>
      <add name="redisPriceLog" endpoints="172.22.1.175:11319"/>
      <add name="redisProductNameHashMapping" endpoints="172.22.1.175:11318"/>
      <add name="redisCacheCrawlerProduct" endpoints="172.22.1.75:6379"/>
      <add name="redisCacheCompany" endpoints="172.22.1.75:6379"/>
      <add name="redisCacheCrawlerDuplicate" endpoints="172.22.1.75:6379"/>
      <add name="redisCompanyWaitCrawler" endpoints="172.22.1.75:6379"/>
      <add name="redisLastUpdateProductInCompany" endpoints="172.22.1.75:6379"/>
      <add name="cacheTrackValidProduct" endpoints="172.22.1.75:6379"/>
      <add name="redisVisitedCrcFN" endpoints="172.22.1.75:6379"/>


      <add name="redisPropertiesProduct" endpoints="172.22.1.175:11314"/>

    </RedisEndpoints>
  </RedisSection>

  <CachingSection>
    <CachingServers>
      <add name="WebMerchantProduct" redis="redis11313" database="1" timeExpiredMs="840000000"/>
      <add name="redisPropertiesProduct" redis="redisPropertiesProduct" database="1" timeExpiredMs="720000000"/>
    </CachingServers>
  </CachingSection>

  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitLogQueueVisit" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
      <add serverName="rabbitMQKeywordSuggest" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
      <add serverName="rabbitMQLogCrawler" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
      <add serverName="rabbitMQLogProduct" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
      <add serverName="rabbitMQ_ChangeDesciption" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
      <add serverName="rabbitMQ_Notification" username="websosanh" password="123456a@" hostName="172.22.0.177" port="5672" virtualHost="JobQueue"/>
      <add serverName="rabbitLogQueueWarningFindNew" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>
      <add serverName="RabbitMqCrawlerProduct" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>

      <add serverName="rabbitMqCrlProperties" username="xuantrang" password="gettime123" hostName="172.22.1.78" port="5672" virtualHost="/CrlProperties"/>


    </RabbitMQEndpoints>
  </RabbitMQSection>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>
