<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis"/>
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching"/>
  </configSections>
  <appSettings>
    <add key="connectionString" value="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;connection timeout=200"/>

  </appSettings>
  <RedisSection>
    <RedisEndpoints>
      <add name="redisQueueFindNew" endpoints="172.22.1.75:6379"/>
      <add name="redis11313" endpoints="172.22.1.175:11313"/>
      <add name="redis6379" endpoints="192.168.100.175:11319"/>
      <add name="redisErrorDownloadImageProduct" endpoints="192.168.100.185:11311"/>
      <add name="redisPriceLog" endpoints="172.22.1.175:11319"/>
      <add name="redisProductNameHashMapping" endpoints="172.22.1.175:11318"/>
      <add name="redisCacheCrawlerProduct" endpoints="172.22.1.75:6379"/>
      <add name="redisCacheCompany" endpoints="172.22.1.75:6379"/>
      <add name="redisCacheCrawlerDuplicate" endpoints="172.22.1.75:6379"/>
      <add name="redisCompanyWaitCrawler" endpoints="172.22.1.75:6379"/>
      <add name="redisLastUpdateProductInCompany" endpoints="172.22.1.75:6379"/>
      <add name="cacheTrackValidProduct" endpoints="172.22.1.75:6379"/>
      <add name="redisVisitedCrcFN" endpoints="172.22.1.75:6379"/>


      <add name="redisPropertiesProduct" endpoints="172.22.1.175:11314"/>

    </RedisEndpoints>
  </RedisSection>

  <CachingSection>
    <CachingServers>
      <add name="WebMerchantProduct" redis="redis11313" database="1" timeExpiredMs="840000000"/>
      <add name="redisPropertiesProduct" redis="redisPropertiesProduct" database="1" timeExpiredMs="720000000"/>
    </CachingServers>
  </CachingSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
