<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="NoSqlSeo" value="192.168.100.179" />
    <add key="NoSqlHtml" value="192.168.100.48,192.168.100.49,192.168.100.50" />
    <add key="RabbitMqWaitDL" value="True" />
    <add key="RabbitMqHtmlToCassandra" value="True" />
    <add key="RabbitMqSeo" value="True" />
    <add key="HostSolr" value="192.168.100.48:8983" />
    <add key="ConnectionSqlQa" value="data source=192.168.100.178;initial catalog=QA_System;user id=sa;password=123456a@" />

    <!--<add key="StaticParameter" value="-dm vatgia.com -t 10 -ulc 1"/>-->
    <!--<add key="StaticParameter" value="-dm dienlanhnasan.com"/>-->
    <add key="StaticParameter" value="-t 2"/>
  </appSettings>
  <RedisSection>
    <RedisEndpoints>
      <add name="RedisCrawlerData" endpoints="192.168.100.55:11311" />
    </RedisEndpoints>
  </RedisSection>
  <CachingSection>
    <CachingServers>
      <add name="WebMerchantProduct" redis="redis11313" database="1" timeExpiredMs="840000000" />
    </CachingServers>
  </CachingSection>
  <RabbitMQSection>
    <RabbitMQEndpoints>
      <!--<add serverName="RabbitMqWaitAs" username="xt" password="t123456" hostName="192.168.100.191" port="5672" virtualHost="/JobServer" />-->
      <add serverName="RabbitMqSeo" username="xt" password="t123456" hostName="192.168.100.191" port="5672" virtualHost="/JobServer" />
      <!--<add serverName="RabbitMqWaitDL" username="xt" password="t123456" hostName="172.22.30.31" port="5672" virtualHost="/JobServer" />-->
      <!--<add serverName="RabbitMqWaitDL" username="xt" password="t123456" hostName="dc3.quangtrung.vn" port="5672" virtualHost="/JobServer" />-->
      <!--<add serverName="RabbitMqGetSeoConfig" username="xt" password="t123456" hostName="192.168.100.185" port="5672" virtualHost="/JobServer" />-->
      <add serverName="RabbitMqHtmlToCassandra" username="xt" password="t123456" hostName="192.168.100.185" port="5672" virtualHost="/JobServer" />
      <add serverName="RabbitMQFullCrawler" username="xt" password="t123456" hostName="192.168.100.185" port="5672" virtualHost="/JobServer" />
      <add serverName="RabbitMqEx" username="xt" password="t123456" hostName="192.168.100.190" port="5672" virtualHost="/JobServer" />
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer"/>

      <!--<add serverName="RabbitMqEx" username="xt" password="t123456" hostName="172.22.30.31" port="5672" virtualHost="/JobServer" />-->
    </RabbitMQEndpoints>
  </RabbitMQSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="QA_SystemEntities" connectionString="metadata=res://*/QASytem.csdl|res://*/QASytem.ssdl|res://*/QASytem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.178;initial catalog=QA_System;user id=sa;password=123456a@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WSS.ManagerQA.Core.Properties.Settings.QA_SystemConnectionString" connectionString="Data Source=192.168.100.178;Initial Catalog=QA_System;User ID=sa;Password=123456a@" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.6.0" newVersion="3.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>