<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QT.Entities.Properties.Settings.QTConnectionString" connectionString="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;Connect Timeout=5000" providerName="System.Data.SqlClient" />
        <add name="QT.Entities.Properties.Settings.QT_2ConnectionString" connectionString="Data Source=192.168.100.169;Initial Catalog=QT_2;Persist Security Info=True;User ID=thudt;Password=12qwAS" providerName="System.Data.SqlClient" />
        <add name="QT.Entities.Properties.Settings.SaleNewsConnectionString" connectionString="Data Source=192.168.100.169;Initial Catalog=SaleNews;Persist Security Info=True;User ID=thudt" providerName="System.Data.SqlClient" />
        <add name="QT.Entities.Properties.Settings.QTCrawlerConnectionString" connectionString="Data Source=192.168.100.178;Initial Catalog=QTCrawler;User ID=sa;Password=123456a@" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="conCrawler" value="Data Source=118.70.205.94,8888;Initial Catalog=QTCrawler;User ID=sa;Password=Qtsa2008R2;connection timeout=300000" />
    <add key="conQT" value="Data Source=42.112.17.185;Initial Catalog=QT_2;Persist Security Info=True;User ID=qt_vn;Password=37xCByyYbO6bmN6LA0nr;connection timeout=500000" />
    <add key="totalProductLoadImage" value="50" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
