<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
  </configSections>
  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
    </RabbitMQEndpoints>
  </RabbitMQSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="rabbitMQServerName" value="rabbitMQ177" />
    <add key="updateProductImageGroupName" value="UpdateImageBath" />
    <add key="updateProductImageProductJobName" value="UpdateProduct.ChangeImage.Product" />
    <add key="updateDatafeedJobExpirationMS" value="3500000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
