<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="ConnectionString" value="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;connection timeout=5000" />
    <add key="LogConnectionString" value="Data Source=172.22.30.86,1455;Initial Catalog=QT_2;Persist Security Info=True;User ID=qt_vn;Password=@F4sJ=l9/ryJt9MT;connection timeout=500" />
    <add key="rabbitMQServerName" value="rabbitMQ109" />
    <!--<add key="rabbitMQ31ServerName" value="rabbitMQLogProduct" />-->
    <!--worker receive message update datafeed-->
    <add key="updateDatafeedJobName" value="updateDatafeed" />

    <add key="updateProductGroupName" value="UpdateProductBatch" />
    <!--jobclient send message to service update solr and redis-->
    <add key="updateProductToWebJobName" value="UpdateProduct.Merchant" />

    <add key="updateProductToWebJobExpirationMS" value="3500000" />
    <add key="workerCount" value="1" />
    <!--jobclient send message to service download image-->
    <add key="updateProductImageGroupName" value="UpdateImageBatch" />
    <add key="updateProductImageJobName" value="UpdateProduct.ChangeImageCompany" />
    <add key="updateProductImageCompanyJobName" value="UpdateProduct.ChangeImageCompany" />

    <add key="UpdateArticleJobName" value="Article.Update"></add>
  </appSettings>

  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitMQ109" username="manhdo" password="m123456" hostName="172.22.1.109" port="5672" virtualHost="/" />
      <!--<add serverName="rabbitMQLogCrawler" username="admin" password="123456a@" hostName="172.22.30.31" port="5672" virtualHost="JobServer" />
      <add serverName="rabbitMQLogProduct" username="admin" password="123456a@" hostName="172.22.30.31" port="5672" virtualHost="JobServer" />-->
    </RabbitMQEndpoints>
  </RabbitMQSection>

  <RedisSection>
    <RedisEndpoints>
      <add name="redis-11319" endpoints="172.22.1.172:11319" />
    </RedisEndpoints>
  </RedisSection>
  <CachingSection>
    <CachingServers>
      <add name="Article" redis="redis-11319" database="0" timeExpiredMs="2000000000" />
      <add name="ArticleShortInfo" redis="redis-11319" database="1" timeExpiredMs="2000000000" />
    </CachingServers>
  </CachingSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
