<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="solrUrl" value="http://118.70.205.94:8983/solr/products2"/>
  </appSettings>
  
  <connectionStrings>
    <add name="UpdateSolrTools.Settings.QTConnectionString" connectionString="Data Source=118.70.205.94,1455;Initial Catalog=QT_2;Persist Security Info=True;User ID=qt_vn;Password=@F4sJ=l9/ryJt9MT"
      providerName="System.Data.SqlClient" />
    <add name="UpdateSolrTools.Settings.UserConnectionString" connectionString="Data Source=118.70.205.94,1455;Initial Catalog=QT_User;Persist Security Info=True;User ID=qt_vn;Password=@F4sJ=l9/ryJt9MT"
      providerName="System.Data.SqlClient" />
    <add name="UpdateSolrTools.Settings.QTCrawlerConnectionString"
      connectionString="Data Source=118.70.205.94,1452;Initial Catalog=QTCrawler;Persist Security Info=True;User ID=qt_vn;Password=@F4sJ=l9/ryJt9MT"
      providerName="System.Data.SqlClient" />
    <add name="UpdateSolrTools.Settings.ReaderDataConnectionString"
      connectionString="Data Source=118.70.205.94,1452;Initial Catalog=NCWebCrawler;Persist Security Info=True;User ID=Gabiz;Password=trungchem!@21"
      providerName="System.Data.SqlClient" />
    <add name="UpdateSolrTools.Settings.ReviewsConnectionString"
      connectionString="Data Source=118.70.205.94,1455;Initial Catalog=QT_User;Persist Security Info=True;User ID=qt_vn;Password=@F4sJ=l9/ryJt9MT"
      providerName="System.Data.SqlClient" />
    <add name="UpdateSolrTools.Settings.QT_2ConnectionString" connectionString="Data Source=118.70.205.94,1455;Initial Catalog=QT_2;Persist Security Info=True;User ID=qt_vn;Password=@F4sJ=l9/ryJt9MT"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
