<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="rabbitMQServerName" value="rabbitMQ177" />
    <add key="UpdateMerchantJobName" value="Merchant.Update" />
  </appSettings>

  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
    </RabbitMQEndpoints>
  </RabbitMQSection>
  <connectionStrings>
    <add name="ProductConnectionString" connectionString="Data Source=172.22.1.82;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu" providerName="" />
    <add name="UserConnectionString" connectionString="Data Source=172.22.1.82;Initial Catalog=QT_User;Persist Security Info=True;User ID=wss_user;Password=HzlRt4$$axzG-*UlpuL2gYDu" providerName="" />
  </connectionStrings>
  <RedisSection>
    <RedisEndpoints>
      <add name="redis11314" endpoints="172.22.1.175:11314" />
      <add name="redis11315" endpoints="172.22.1.175:11315" />
    </RedisEndpoints>
  </RedisSection> 
  <CachingSection>
    <CachingServers>
      <add name="Merchant" redis="redis11314" database="0" timeExpiredMs="720000000" />
      <add name="MerchantBranch" redis="redis11315" database="0" timeExpiredMs="720000000" />
      <add name="MerchantRegion" redis="redis11315" database="1" timeExpiredMs="720000000" />
    </CachingServers>
  </CachingSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
