<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="RabbitMQ_Host" value="10.0.0.135" />
    <add key="RabbitMQ_Port" value="5672" />
    <add key="RabbitMQ_User" value="manhdx" />
    <add key="RabbitMQ_Pass" value="123456a@" />
    <add key="RedisDB_Host" value="192.168.100.211" />
    <add key="RedisDB_Port" value="11313" />
    <add key="SecondWaitToConnect" value="10" />
    <add key="MinHourCrawlNew" value="3" />
    <add key="Crawler_manhdxConnectionString" value="Data Source=192.168.100.169;Initial Catalog=QT_2;Persist Security Info=True;User ID=thudt;Password=12qwAS" />
    <!--NodeID: Use to indentify service or instance run crawler data.-->
    <add key="NodeID" value="Node01" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
